* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #A3A3A3;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.flex {
    display: flex;
}

/* DEBUG******************************************************************* */

/* .debug .upgrade {
    height: 15vh;
} */

.debug aside {
    height: calc(100vh - 90px);
}

.debug .song_selection {
    height: calc(100vh - 90px);
}

/* .debug .song_details {
    height: 90px;
} */

/* GENERAL ******************************************************************/

body {
    overflow-y: auto;
    overflow: hidden;
}

aside, .song_selection, .song_details {
    float: left;
}

/* navbar*********************************************************************/

aside {
    width: 250px;
    background-color: black;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    width: 150px;
    margin: 1.5rem 0;
}

/* menu */

.menu>div {
    margin-bottom: 0.7rem;
}

.menu img {
    width: 30px;
    color: #A3A3A3;
}

.menu p {
    color: #A3A3A3;
    display: inline-block;
    vertical-align: super;
}

/* playlist */

.container>div {
    padding-left: 2rem;
    margin-bottom: 0.7rem;
}

.playlist {
    padding-top: 1rem;
}

.playlist h4 {
    color: white;
}

.playlist>div {
    padding: 0.5rem 0rem;
}

.plus p {
    display: inline-block;
    vertical-align: super;
}

/* user */

.user {
    padding: 0 2rem;
    flex-direction: column;
}

.app {
    padding: 1rem 0;
    border-bottom: 1px solid #A3A3A3;
}

.app img {
    width: 15px;
}

.app p, .profile p {
    font-size: small;
    vertical-align: top;
    display: inline-block;
}

.profile {
    padding: 1rem 0;
}

.profile img {
    border: #A3A3A3 solid 1px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #A3A3A3;
}

/* header*********************************************************************/

.upgrade {
    width: calc(100vw - 250px);
    justify-content: end;
    background-color: #080B12;
    position: fixed;
}

button {
    padding: 20px;
    background-color: transparent;
    color: #A3A3A3;
    border: #A3A3A3 solid 1px;
    border-radius: 30px;
    margin: 1rem;
}

.song_selection {
    width: auto;
    background-color: #141922;
    overflow: auto;
}

/* footer******************************************************************/

.song_details {
    width: 100vw;
    background-color: #282828;
    justify-content: space-between;
}

.center {
    align-self: center;
}

.song_thumbnail {
    justify-content: start;
}

.song_thumbnail img {
    width: 50px;
    margin: 20px
}

.current_title, .current_artist {
    font-size: small;
}

.current_title {
    color: white;
}

/* /.thumbnail */

.like_save {
    margin: 0 2rem;
}

.fa-heart {
    margin: 0.5rem;
}

/* /.like_save */

.song_control {
    width: 500px;
}

.control {
    justify-content: center;
}

.control i {
    color: white;
}

.control i {
    margin: .5rem;
}

/* /.control icon */

.song {
    width: 80%;
    height: 5px;
    background-color: #5A5A5A;
    border-radius: 1rem;
    margin: 0 1.5rem;
}

.song_moment {
    align-items: center;
    width: 30%;
    height: 100%;
}

.song_bar {
    width: 90%;
    height: 100%;
    background-color: white;
    border-radius: 1rem 0rem 0rem 1rem;
    visibility: hidden;
}

.song_btn {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    visibility: hidden;
}

.volume_icon i {
    padding: 0 .5rem;
    display: inline-block;
}

.volume_bar {
    display: inline-block;
    width: 100px;
    height: 5px;
    background-color: #5A5A5A;
    border-radius: 1rem;
    margin: 0 1.5rem;
}

.volume_level {
    width: 40%;
    height: 100%;
    background-color: white;
    border-radius: 1rem 0rem 0rem 1rem;
    visibility: hidden;
}

/* ANIMATION */

.song:hover .song_bar, .song:hover .song_btn {
    visibility: visible;
}

.volume_bar:hover {
    visibility: visible;
}