* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix {
    display: table;
    content: "";
    clear: both;
}

.flex {
    display: flex;
}

/* DEBUG******************************************************************* */

.debug aside {
    background-color: black;
}

.debug .song_selection {
    height: calc(100vh - 15vh);
}

.debug .song_control {
    background-color: #282828;
}

.debug .upgrade {
    background-color: #080B12;
}

/* navbar*********************************************************************/

aside, .song_selection, .song_control {
    float: left;
}

aside {
    width: 15vw;
    height: calc(100vh - 15vh);
}

/* main********************************************************************** */

.song_selection {
    width: calc(100vw - 15vw);
    background-color: #141922;
}

.song_selection .upgrade {
    width: calc(100vw - 15vw);
    height: 10vh;
}

/* footer******************************************************************/

.song_control {
    width: 100vw;
    height: 15vh;
}